main {
    margin: 0;
}

.card {
    background-color: #012038;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    transition: background-color .1s ease-in-out;
}

.card:hover {
    background-color: #000e1a;
}

a {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .card {
        background-color: #012038;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 300px;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
}