nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(192, 192, 192);
    height: 3.5rem;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

h4 {
    margin: 0;
}

h4 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.2rem;
    white-space: nowrap;
}

nav img {
    padding: 0 0.8rem;
    height: 2.7rem;
}

.dropbtn {
    background-color: rgb(192, 192, 192);
    color: rgba(0, 0, 0, 0.6);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

 
  .dropdown {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-top: 0.32em;
    width: 3%;
    right: 1%;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 169px;
    max-width: 200px;
    z-index: 1;
    right: 1vw;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }


  .dropdown:hover .dropdown-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-items: center;
    margin-top: 2.6%;
  }