@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #4AC29A;
    background: -webkit-linear-gradient(to right, #bdcdff, #4a66c2);
    background: linear-gradient(to right, #bdcdff, #4a66c2);
    font-family: 'Quicksand', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 300px;
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 20px;
}

form img {
    justify-self: center;
    height: 120px;
    width: 100%;
}

form input {
    padding: 0.5rem 0.7rem;
    background-color: rgba(0, 0, 0, 0.04);
    border: none;
    border-radius: 6px;
    margin-bottom: 1rem;
}

form button {
    margin-top: 1rem;
    padding: 0.7rem 0.7rem;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    transition: background-color .2s ease-in-out;
}

form button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

form a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    align-self: center;
    margin-top: 1rem;
}