@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-image: url("../img/background.png");
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.8rem;
    color: white;
    height: 89vh;
}

header{
    text-align: center;
}

header h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color:white;
}

header h1 span {
    color: white;
}

body .footer{
    background-color: transparent;
    text-align: center;
}

.section-content {
    margin: 2rem 0;
    text-align: center;
  }
  
  .section-content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
  }
  
  .section-content p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: white;
    margin-bottom: 2rem;
  }
  
  .section-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .section-content ul li {
    font-size: 1.4rem;
    color: white;
    margin: 0 1rem;
  }

@media (min-width: 1000px) {
    
}