@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-image: url("../img/background.png");
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.8rem;
    color: white;
    height: 89vh;
}

header{
    text-align: center;
}

header h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color:white;
}

header h1 span {
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
}

.footer-section {
    width: 30%;
}

.footer-section p,
.footer-section ul {
   margin: 0;
}

.footer-section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

.footer-section ul li {
    margin: 0 1rem;
}

.copyright {
    margin-top: 2rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .footer-section authors{
        position: absolute;
        bottom: 0;
    }
}

.section-content {
    margin: 2rem 0;
    text-align: center;
  }
  
  .section-content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
  }
  
  .section-content p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: white;
    margin-bottom: 2rem;
  }
  
  .section-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .section-content ul li {
    font-size: 1.4rem;
    color: white;
    margin: 0 1rem;
  }
