@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-image: url("../img/background.png");
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.8rem;
    color: white;
    height: 89vh;
}

header{
    text-align: center;
}

header h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color:white;
}

header h1 span {
    color: white;
}

body .footer{
    background-color: transparent;
    text-align: center;
}

@media (min-width: 768px) {
    
}